
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    height: 100%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.search-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.search-box h1 {
    font-size: 2em;
    margin-bottom: 40px;
}

#search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #1976D2;
}

.wishlist-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.wishlist-button:hover {
    background-color: #218838;
}